.card {
    width: calc(25vw - 20px);
    height: 400px;
    background-color: #eee;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
    border-radius: 12px;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profile-img {
    width: 100%;
}

img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.profile-info {
    flex: 1;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profile-menu {
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: flex;
    gap: 12px;
}

.btn button {
    padding: 8px;
    cursor: pointer;
}

.bookmark-icon {
    cursor: pointer;
    font-size: 1.3rem;
}

@media (max-width: 520px) {
    .card {
        width: calc(100vw - 50px);
    }
}

@media (min-width: 520px) {
    .card {
        width: calc(50vw - 30px);
    }
}

@media (min-width: 790px) {
    .card {
        width: calc(33vw - 22px);
    }
}

@media (min-width: 1040px) {
    .card {
        width: calc(25vw - 21px);
    }
}